html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
/* header css */

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}
.icon-wrapper {
  border-radius: 85px;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #cdcdcd;
}
.icon-row {
  padding: 0 15% 0 15%;
}
section {
  height: auto;
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  border: 1px solid;
}

.logo {
  width: auto;
  position: absolute;
  right: 0;

  max-height: 50px;
}
.logo-wrapper {
  width: 60%;
  position: fixed;
  margin: 0;
  top: 0;
  padding: 15px;
  right: -60px;
}

a:hover {
  color: tomato;
}
h2 {
  font-family: medium-marketing-display-font, Georgia, Cambria,
    "Times New Roman", Times, serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 25px !important;
  line-height: 48px !important;
  -webkit-transform: translateY(1.5px);
  transform: translateY(1.5px);
}

#menuToggle {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 13px;
  border-radius: 50%;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: tomato;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;
  background-color: #ffc107 !important;
  box-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px yellow;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
/* 
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: #ffc107 !important;
  box-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px yellow;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
} */

#menu {
  position: fixed;
  width: 110px;
  margin: 100px 100px 100px -30px;
  padding: 20px;

  border-radius: 0 30% 30% 0;
  background: black;
  opacity: 0.9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 1.1rem;
  color: white;
  opacity: 0.6;
}

#menuToggle input:checked ~ #menu {
  transform: none;
}
.icon-1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 4px !important;
  margin-bottom: -10px;
  margin-left: 15px !important;
}

.items:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.items a {
  text-decoration: none;
}

/* end of  header css */
.landing {
  background-color: rgb(15, 14, 14);
  height: 100vh;
  width: 100%;
}
.landing-overlay {
  background-image: linear-gradient(
    to right top,
    #060607,
    #0c0f11,
    #101616,
    #161c18,
    #1f2019
  );
  height: 100vh;
  width: 100%;
  position: absolute;

  left: 0;
  opacity: 0.7;

  top: 0;
}
.skills-overlay {
  background-image: linear-gradient(
    to right top,
    #060607,
    #0c0f11,
    #101616,
    #161c18,
    #1f2019
  );
  height: auto;
  width: 100%;
  position: relative;
  top: 0;

  left: 0;
  opacity: 0.7;
}

.overlay {
  position: absolute;
  height: 100vh;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15% 0 15%;
  text-align: center;
}
button {
  border: 2px solid white !important;
}

@media only screen and (min-width: 680px) {
  #menuToggle span {
    all: unset !important;
  }

  #menuToggle ul {
    transform: none;
  }
  #menuToggle {
    all: unset !important;
  }
  #menuToggle {
    all: unset !important;
  }
  .items {
    all: unset !important;
  }
  .icon-1 {
    all: unset !important;
  }
  .items i {
    display: none !important;
  }
  #menu {
    all: unset !important;
    display: inline-flex !important;
    position: fixed !important;
    margin-left: 25% !important;
    padding: 10px 15px 0px 15px !important;
    z-index: 1 !important;
  }
  #menu li {
    list-style: none;

    width: 12vw;
    opacity: 0.7;
    font-size: 1.3rem;
    z-index: 1;
  }
  a {
    all: unset;
    z-index: 1;
  }
  a:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px yellow;
  }

  a::before {
    content: "";
    display: block;
    height: 3px;
    background: rgb(184, 120, 120);
    width: 70px;
    margin-left: -1%;

    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  a:hover::before {
    transform: scale(1, 1);
  }
  h2 {
    font-family: medium-marketing-display-font, Georgia, Cambria,
      "Times New Roman", Times, serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 28px !important;
    line-height: 48px !important;
    -webkit-transform: translateY(1.5px);
    transform: translateY(1.5px);
  }
  .logo {
    width: auto;
    position: absolute;
    left: 0;

    max-height: 50px;
  }
  .logo-wrapper {
    width: 60%;
    position: fixed;
    margin: 0;
    top: 0;
    padding: 15px;
    left: 0;
  }
  #menu .items li {
    font-size: 18px;
    font-weight: bold;
  }
}
